<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button [routerLink]="['/authentification']">Déconnexion</ion-button>-->
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/menu/meteo']">
        <div class="ion-padding-start">
          <ion-img src="assets/images/meteo.png"></ion-img>
          <ion-card-content>
            <ion-card-title> Météo </ion-card-title>
          </ion-card-content>
        </div>
      </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col [routerLink]="['/menu/galerie']">
        <div class="ion-padding-end">
          <ion-img src="assets/images/galerie.png"></ion-img>
          <ion-card-content>
            <ion-card-title> Gallerie </ion-card-title>
          </ion-card-content>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [routerLink]="['/menu/endroits']">
        <div class="ion-padding-start">
          <ion-img src="assets/images/endroits.png"></ion-img>
          <ion-card-content>
            <ion-card-title> Endroits </ion-card-title>
          </ion-card-content>
        </div>
      </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col [routerLink]="['/menu/priere']">
        <div class="ion-padding-end">
          <ion-img src="assets/images/priere.png"></ion-img>
          <ion-card-content>
            <ion-card-title> Priere </ion-card-title>
          </ion-card-content>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [routerLink]="['/menu/contacts']">
        <div class="ion-padding-start">
          <ion-img src="assets/images/contact.png"></ion-img>
          <ion-card-content>
            <ion-card-title> Contacts </ion-card-title>
          </ion-card-content>
        </div>
      </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col (click)=" deconnecter()">
        <div class="ion-padding-end">
          <ion-img src="assets/images/deconnexion.png"></ion-img>
        </div>
        <ion-card-content class="ion-padding-start">
          <ion-card-title> Déconnexion </ion-card-title>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
